* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: #F4F5F9;
	overflow-x: hidden;
}

body { 
	margin: 0;
	font-family: "PT Sans", system-ui, -apple-system, Arial, sans-serif;
}

button {
	font: inherit;
}